.field{
    text-align: center;
}

button{
    /*position: relative;*/
}

span.alert.alert-warning {
    margin-top: 0.5rem;
    display: block;
}

/*Overwritting bootstraps style*/
.form-control{
    width: 20rem;
    padding:0rem;
    margin:auto;
    appearance: menulist-button;
}

h1{
    margin-bottom: -0.5rem;
}

.successful{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

