<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>Blog error</title>
  <link th:replace="fragments/header :: bootstrap-css"/>
  <link rel="stylesheet" th:href="@{/css/error.css}"/>
  <link rel="icon" href="../images/sapling.png">
</head>
<body>
<!--Header-->
<div th:replace="fragments/header :: header"></div>

<div th:if="${message}">
  <h1 th:text="${message}">Sorry, the image is too large</h1>
</div>

<!--Footer-->
<div th:replace="fragments/footer :: footer-links"></div>
<div th:replace="fragments/footer :: footer-style"></div>
</body>
</html>